header, blockquote {
    font-family: "Abril Fatface", cursive;
  }
  .header-image {
    background-image: url("20200605_155802.jpg");
    border-top: 5px solid red;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .header-text {
    text-align: left;
    position: absolute;
    top: 60%;
    left: 21%;
    color: blue;
    line-height: 0.1em;
  }
  .h1-text {
    font-size: 45px;
  }
  .h2-text {
    font-size: 90px;
  }
  .strong {
    color: black;
  }
  p { 
    margin: 30px 40px 20px 40px;
    font-family: "Josefin Sans", sans-serif;
    color: grey;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.4em;
  }
  blockquote {
    display: block;
    margin: 0;
    padding: 0.1px;
    background: grey;
    height: 100px
    position: absolute;
    left: 0%;
    right: 0%;
  }
  .blockquote-text {
    margin: -10px 0 0 70px;
    line-height: 1em;
    font-size: 2.75em;
  }
  #white {
    font-family: "Abril Fatface", cursive;
    color: white
  }
  blockquote::before {
    content: "”";
    font-size: 5em;
    position: relative;
    top: 5px;
    left: 5px;
    line-height: 1em;
    color: white;
  }
  main {
    position: absolute;
    left: 15%;
    right: 15%;
    margin: 0 40px 0 40px;
  }
  ul {
    font-family: "Josefin Sans", sans-serif;
    color: grey;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.4em;
  }
  h3 {
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.3em;
    margin: 30px 40px 20px 40px;
    line-height: 1.4em;
  }
  h4 {
    font-family: "Josefin Sans", serif;
    font-size: 1.3em;
    /*font-style: italic;*/
    margin: 20px 40px 20px 40px;
    line-height: 1.4em;
  }
  .subtitle-second {
    font-family: "Merriweather", serif;
    font-size: 0.8em;
    font-style: italic;
    margin: -15px 40px 20px 40px;
    line-height: 1.4em;
  }
  .content {
    font-family: "Josefin Sans", sans-serif;
    color: grey;
    font-size: 1em;
    margin: 30px 40px 20px 40px;
  }
  content, h5, ul {
    margin: 20px 40px 20px 40px;
  }
  
    hr {
    border: 2px solid black;
  }
  